Repository Solders-Girdles/GPT-Trader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GPT-Trader/brokerage-owners, @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners, @GPT-Trader/platform-owners, @GPT-Trader/release-owners, @GPT-Trader/qa-owners, @GPT-Trader/maintainers

docs(state): Add downstream usage analysis and repository accessor pattern
  docs/architecture/state_refactoring_opportunities.md
  src/bot_v2/state/__init__.py
  src/bot_v2/state/state_manager.py
  tests/unit/bot_v2/state/test_repository_access.py
Owners: none

feat(state): Add performance instrumentation and benchmarking suite
  docs/architecture/state_refactoring_opportunities.md
  scripts/benchmarks/state_performance.py
  src/bot_v2/state/__init__.py
  src/bot_v2/state/performance.py
  src/bot_v2/state/state_manager.py
Owners: none

perf(state): Optimize BackupManager with direct repository access (99%+ faster)
  src/bot_v2/state/backup/operations.py
  tests/unit/bot_v2/state/test_recovery_backup_smoke.py
Owners: none

fix(state): Add S3/COLD tier and fallback logic to BackupManager
  src/bot_v2/state/backup/operations.py
Owners: none

fix(state): Add TypeError fallback for Mock compatibility in BackupManager
  src/bot_v2/state/backup/operations.py
Owners: none

perf(state): Optimize StateCapture with direct repository access
  src/bot_v2/state/checkpoint/capture.py
Owners: none

perf(state): Optimize CheckpointRestoration._clear_current_state()
  src/bot_v2/state/checkpoint/restoration.py
Owners: none

feat(state): Add batch write operations to storage adapters
  src/bot_v2/state/repositories.py
  src/bot_v2/state/utils/adapters.py
  tests/fixtures/infrastructure.py
Owners: none

fix(state): Add last_accessed and version to batch_upsert
  src/bot_v2/state/utils/adapters.py
Owners: none

feat(state): Wire batch operations into checkpoint restoration
  src/bot_v2/state/checkpoint/restoration.py
Owners: none

feat(state): Add batch operations to StateManager with cache coherence
  src/bot_v2/state/checkpoint/restoration.py
  src/bot_v2/state/state_manager.py
  tests/unit/bot_v2/state/checkpoint/test_restoration.py
Owners: none

fix(state): Defer cache updates until after successful storage in batch_set_state
  src/bot_v2/state/state_manager.py
Owners: none

fix(state): Handle partial success in batch operations with granular cache updates
  src/bot_v2/state/repositories.py
  src/bot_v2/state/state_manager.py
Owners: none

perf(recovery): Optimize RecoveryHandlers with batch operations
  src/bot_v2/state/recovery/handlers/storage.py
  src/bot_v2/state/recovery/handlers/system.py
  src/bot_v2/state/recovery/handlers/trading.py
  tests/unit/bot_v2/state/recovery/handlers/test_storage_handlers.py
  tests/unit/bot_v2/state/recovery/handlers/test_system_handlers.py
  tests/unit/bot_v2/state/recovery/handlers/test_trading_handlers.py
Owners: none

chore: Add coverage.json and htmlcov/ to .gitignore
  .gitignore
Owners: @GPT-Trader/maintainers

refactor: Major orchestration and monitoring refactoring
  scripts/analysis/test_categorizer.py
  src/bot_v2/cli.py
  src/bot_v2/cli/__init__.py
  src/bot_v2/cli/__main__.py
  src/bot_v2/cli/handlers/shutdown.py
  src/bot_v2/cli/parser.py
  src/bot_v2/config/live_trade_config.py
  src/bot_v2/data_providers/__init__.py
  src/bot_v2/features/data/cache.py
  src/bot_v2/features/data/data.py
  src/bot_v2/features/data/quality.py
  src/bot_v2/features/data/storage.py
  src/bot_v2/features/data/types.py
  src/bot_v2/features/live_trade/__init__.py
  src/bot_v2/features/live_trade/advanced_execution.py
  src/bot_v2/features/live_trade/risk/state_management.py
  src/bot_v2/features/live_trade/strategies/perps_baseline.py
  src/bot_v2/monitoring/alerts_manager.py
  src/bot_v2/monitoring/interfaces.py
  src/bot_v2/monitoring/runtime_guards/__init__.py
  src/bot_v2/monitoring/system/__init__.py
  src/bot_v2/monitoring/system/alerting.py
  src/bot_v2/monitoring/system/engine.py
  src/bot_v2/orchestration/execution/__init__.py
  src/bot_v2/orchestration/execution/engine_factory.py
  src/bot_v2/orchestration/execution/order_placement.py
  src/bot_v2/orchestration/execution/runtime_supervisor.py
  src/bot_v2/orchestration/execution_coordinator.py
  src/bot_v2/orchestration/lifecycle_service.py
  src/bot_v2/orchestration/market_data_service.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/orchestration/perps_bot_builder.py
  src/bot_v2/orchestration/streaming_service.py
  src/bot_v2/persistence/orders_store.py
  src/bot_v2/state/backup/operations.py
  src/bot_v2/state/backup/services/transport.py
Owners: @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners, @GPT-Trader/platform-owners

docs: Add architecture documentation and update operational guides
  docs/CHANGELOG.md
  docs/QUICK_START.md
  docs/architecture/CONTRIBUTING_TO_CHARACTERIZATION_TESTS.md
  docs/architecture/EXECUTION_COORDINATOR_REFACTOR.md
  docs/architecture/PHASE_0_COMPLETE_SUMMARY.md
  docs/architecture/PHASE_0_REVIEW_REQUEST.md
  docs/architecture/PHASE_1_COMPLETE_SUMMARY.md
  docs/architecture/PHASE_2_COMPLETE_SUMMARY.md
  docs/architecture/PHASE_3_COMPLETE_SUMMARY.md
  docs/architecture/REFACTORING_PHASE_0_STATUS.md
  docs/architecture/perps_bot_dependencies.md
  docs/issues/ISSUE_product_map_dead_code.md
  docs/ops/operations_runbook.md
  pyproject.toml
  pytest.ini
Owners: @GPT-Trader/maintainers

ci: Add coverage check workflow and benchmarking scripts
  .github/ISSUE_TEMPLATE/bug_dead_code_product_map.md
  .github/workflows/coverage-check.yml
  scripts/benchmarks/checkpoint_capture_benchmark.py
  scripts/benchmarks/redis_failover_drill.py
  scripts/check_package_coverage.py
Owners: @GPT-Trader/release-owners

fix(state): Handle non-numeric returns from batch_set_state in backup restoration
  src/bot_v2/state/backup/operations.py
Owners: none

test: Add batch_set_state mocks to backup/recovery integration tests
  tests/unit/bot_v2/state/backup/test_backup_recovery_integration.py
  tests/unit/bot_v2/state/recovery/test_recovery_loader.py
Owners: none

refactor(backup): Extract BackupMetadataManager from operations.py (Phase 1)
  scripts/ci/check_test_hygiene.py
  src/bot_v2/state/backup/metadata.py
  src/bot_v2/state/backup/models.py
  src/bot_v2/state/backup/operations.py
  tests/unit/bot_v2/state/backup/test_backup_operations.py
  tests/unit/bot_v2/state/backup/test_backup_recovery_integration.py
Owners: none

refactor(backup): Extract BackupCreator from operations.py (Phase 2A)
  src/bot_v2/state/backup/creator.py
  src/bot_v2/state/backup/models.py
  src/bot_v2/state/backup/operations.py
  tests/unit/bot_v2/state/backup/test_backup_operations.py
Owners: none

refactor(backup): Extract DataCollector from BackupManager (Phase 2B)
  docs/architecture/REFACTORING_PHASE_0_STATUS.md
  src/bot_v2/data_providers/__init__.py
  src/bot_v2/data_providers/coinbase_provider.py
  src/bot_v2/features/data/cache.py
  src/bot_v2/features/data/data.py
  src/bot_v2/features/data/storage.py
  src/bot_v2/state/backup/collector.py
  src/bot_v2/state/backup/operations.py
  tests/unit/bot_v2/data_providers/test_data_providers.py
  tests/unit/bot_v2/features/data/test_data.py
  tests/unit/bot_v2/state/backup/test_backup_operational_scenarios.py
Owners: none

refactor(backup): Extract BackupRestorer from BackupManager (Phase 3)
  src/bot_v2/state/backup/operations.py
  src/bot_v2/state/backup/restorer.py
  tests/unit/bot_v2/state/backup/test_backup_operations.py
Owners: none

test(backup): Add comprehensive unit tests for Creator/Collector/Restorer
  tests/unit/bot_v2/state/backup/test_creator.py
  tests/unit/bot_v2/state/backup/test_data_collector.py
  tests/unit/bot_v2/state/backup/test_restorer.py
Owners: none

docs(backup): Add comprehensive architecture documentation
  docs/architecture/ADVANCED_EXECUTION_REFACTOR.md
  docs/architecture/BACKUP_SYSTEM_ARCHITECTURE.md
  docs/architecture/LOGGER_REFACTOR.md
  docs/architecture/ORDER_METRICS_TELEMETRY.md
  docs/architecture/REFACTORING_PHASE_0_STATUS.md
  docs/architecture/REFACTORING_SESSION_2025_10_02.md
  docs/architecture/STATE_MANAGER_REFACTOR.md
  docs/architecture/perps_bot_dependencies.md
  docs/architecture/state_refactoring_opportunities.md
  src/bot_v2/features/live_trade/advanced_execution.py
  src/bot_v2/features/live_trade/advanced_execution_models/models.py
  src/bot_v2/features/live_trade/order_metrics_reporter.py
  src/bot_v2/features/live_trade/order_request_normalizer.py
  src/bot_v2/features/live_trade/order_validation_pipeline.py
  src/bot_v2/monitoring/system/correlation_context.py
  src/bot_v2/monitoring/system/log_buffer.py
  src/bot_v2/monitoring/system/log_emitter.py
  src/bot_v2/monitoring/system/logger.py
  src/bot_v2/monitoring/system/performance_tracker.py
  src/bot_v2/orchestration/lifecycle_service.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/orchestration/perps_bot_builder.py
  src/bot_v2/orchestration/service_rebinding.py
  src/bot_v2/state/adapter_bootstrapper.py
  src/bot_v2/state/recovery/handlers/system.py
  src/bot_v2/state/recovery/handlers/trading.py
  src/bot_v2/state/repository_factory.py
  src/bot_v2/state/state_manager.py
  tests/integration/test_execution_metrics_export.py
  tests/integration/test_perps_bot_characterization.py
  tests/unit/bot_v2/features/live_trade/test_order_metrics_reporter.py
  tests/unit/bot_v2/features/live_trade/test_order_metrics_telemetry.py
  tests/unit/bot_v2/features/live_trade/test_order_request_normalizer.py
  tests/unit/bot_v2/features/live_trade/test_order_validation_pipeline.py
  tests/unit/bot_v2/monitoring/test_system_logger.py
  tests/unit/bot_v2/orchestration/test_lifecycle_builder_integration.py
  tests/unit/bot_v2/orchestration/test_perps_bot.py
  tests/unit/bot_v2/state/test_adapter_bootstrapper.py
  tests/unit/bot_v2/state/test_repository_factory.py
Owners: @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners

chore: Remove archived code (476KB)
  archived/checkpoint_handler_monolithic_2025_09_29.py
  archived/experimental_features_2025_09_29/backtest/__init__.py
  archived/experimental_features_2025_09_29/backtest/backtest.py
  archived/experimental_features_2025_09_29/backtest/data.py
  archived/experimental_features_2025_09_29/backtest/execution.py
  archived/experimental_features_2025_09_29/backtest/metrics.py
  archived/experimental_features_2025_09_29/backtest/profile.py
  archived/experimental_features_2025_09_29/backtest/signals.py
  archived/experimental_features_2025_09_29/backtest/spot.py
  archived/experimental_features_2025_09_29/backtest/strategies.py
  archived/experimental_features_2025_09_29/backtest/types.py
  archived/experimental_features_2025_09_29/backtest/validation.py
  archived/experimental_features_2025_09_29/market_regime/__init__.py
  archived/experimental_features_2025_09_29/market_regime/data.py
  archived/experimental_features_2025_09_29/market_regime/features.py
  archived/experimental_features_2025_09_29/market_regime/market_regime.py
  archived/experimental_features_2025_09_29/market_regime/models.py
  archived/experimental_features_2025_09_29/market_regime/transitions.py
  archived/experimental_features_2025_09_29/market_regime/types.py
  archived/experimental_features_2025_09_29/ml_strategy/__init__.py
  archived/experimental_features_2025_09_29/ml_strategy/backtest_integration.py
  archived/experimental_features_2025_09_29/ml_strategy/data.py
  archived/experimental_features_2025_09_29/ml_strategy/evaluation.py
  archived/experimental_features_2025_09_29/ml_strategy/features.py
  archived/experimental_features_2025_09_29/ml_strategy/market_data.py
  archived/experimental_features_2025_09_29/ml_strategy/ml_strategy.py
  archived/experimental_features_2025_09_29/ml_strategy/model.py
  archived/experimental_features_2025_09_29/ml_strategy/types.py
  archived/experimental_features_2025_09_29/monitoring_dashboard.py
  archived/experimental_features_2025_09_29/test_adaptive_config_manager.py
  archived/recovery_handler_monolithic_2025_09_29.py
  src/bot_v2/cli/__main__.py
  src/bot_v2/features/paper_trade/paper_trade.py
  src/bot_v2/orchestration/execution/runtime_supervisor.py
  src/bot_v2/orchestration/streaming_service.py
Owners: @GPT-Trader/orchestration-owners

chore: Add large test files to hygiene allowlist
  scripts/ci/check_test_hygiene.py
Owners: none

fix: Add type annotations to new monitoring system modules
  src/bot_v2/monitoring/system/correlation_context.py
  src/bot_v2/monitoring/system/performance_tracker.py
Owners: none

fix: Update tests to reflect refactoring changes
  scripts/ci/check_test_hygiene.py
  tests/unit/bot_v2/orchestration/test_lifecycle_builder_integration.py
  tests/unit/bot_v2/orchestration/test_lifecycle_service.py
Owners: none

.github/CODEOWNERS:

# GitHub uses the most specific match

# Core ownership
/src/bot_v2/features/brokerages/*   @GPT-Trader/brokerage-owners
/src/bot_v2/features/live_trade/*   @GPT-Trader/trading-owners
/src/bot_v2/orchestration/*         @GPT-Trader/orchestration-owners
/src/bot_v2/persistence/*           @GPT-Trader/platform-owners
/scripts/*                          @GPT-Trader/release-owners
/tests/*                            @GPT-Trader/qa-owners
/*                                  @GPT-Trader/maintainers
