Repository Solders-Girdles/GPT-Trader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GPT-Trader/brokerage-owners, @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners, @GPT-Trader/platform-owners, @GPT-Trader/release-owners, @GPT-Trader/qa-owners, @GPT-Trader/maintainers

chore: ignore local tooling artifacts
  .gitignore
Owners: @GPT-Trader/maintainers

build: migrate to PEP 621 project metadata
  poetry.lock
  pyproject.toml
Owners: @GPT-Trader/maintainers

doc: align runbooks and guides with current toolchain
  README.md
  config/environments/.env.template
  data/opt/is_grid_20250808-235212.csv
  data/opt/is_grid_20250809-012930_part1-of-4.csv
  data/opt/is_grid_20250809-012930_part2-of-4.csv
  data/opt/is_grid_20250809-012930_part3-of-4.csv
  data/opt/is_grid_20250809-012930_part4-of-4.csv
  data/opt/is_grid_20250809-021552_part1-of-4.csv
  data/opt/is_grid_20250809-032830_part1-of-4.csv
  data/opt/is_grid_20250809-032830_part2-of-4.csv
  data/opt/is_grid_20250809-032830_part3-of-4.csv
  data/opt/is_grid_20250809-032830_part4-of-4.csv
  docs/EMERGENCY_PROCEDURES.md
  docs/PNL_CALCULATION_DIFFERENCES.md
  docs/SECURITY.md
  docs/agents/Agents.md
  docs/agents/CLAUDE.md
  docs/agents/Gemini.md
  docs/guides/complete_setup_guide.md
  docs/guides/monitoring.md
  docs/guides/production.md
  docs/ops/operations_runbook.md
  docs/reference/coinbase_complete.md
  docs/reference/compatibility_troubleshooting.md
  docs/reference/system_capabilities.md
  docs/reference/trading_logic_perps.md
  logs/is_part_0.log
  logs/is_part_1.log
  logs/is_part_2.log
  logs/is_part_3.log
  results/ma_filters_btc.json
  results/ma_filters_combined_btc.json
  results/ma_filters_combined_eth.json
  results/ma_filters_eth.json
  results/ma_rsi_btc.json
  results/ma_trend_btc.json
  results/ma_trend_eth.json
  results/managed/events.jsonl
  results/sweep_summary.json
  tests/README.md
Owners: @GPT-Trader/maintainers, @GPT-Trader/qa-owners

Migrate configs from JSON to YAML
  config/acceptance_tuning.json
  config/acceptance_tuning.yaml
  config/adaptive_portfolio_aggressive.json
  config/adaptive_portfolio_aggressive.yaml
  config/adaptive_portfolio_config.json
  config/adaptive_portfolio_config.yaml
  config/adaptive_portfolio_conservative.json
  config/adaptive_portfolio_conservative.yaml
  config/backtest_config.json
  config/backtest_config.yaml
  config/environments/.env.template
  config/live_trade_config.json
  config/live_trade_config.yaml
  config/ml_strategy_config.json
  config/ml_strategy_config.yaml
  config/position_sizing_config.json
  config/position_sizing_config.yaml
  config/risk/README.md
  config/risk/coinbase_perps.prod.json
  config/risk/coinbase_perps.prod.yaml
  config/risk/spot_top10.json
  config/risk/spot_top10.yaml
  config/stage1_scaleup.json
  config/stage1_scaleup.yaml
  config/stage2_scaleup.json
  config/stage2_scaleup.yaml
  config/stage3_scaleup.json
  config/stage3_scaleup.yaml
  config/system_config.json
  config/system_config.yaml
Owners: none

Remove legacy monitoring scripts and helper shims
  requirements-dev.txt
  requirements.txt
  scripts/monitoring/dashboard_integration.py
  scripts/monitoring/dashboard_lite.py
  scripts/monitoring/metrics_exporter.py
  scripts/monitoring/production_dashboard.py
  scripts/stage3_runner.py
  src/bot_v2/errors.py
  src/bot_v2/logging_setup.py
  src/bot_v2/system_paths.py
  src/bot_v2/validate_calculations.py
Owners: @GPT-Trader/maintainers, @GPT-Trader/release-owners

Finalize package reorg for logging and strategy modules
  src/bot_v2/config/path_registry.py
  src/bot_v2/errors/base.py
  src/bot_v2/features/live_trade/strategies/liquidity_filters.py
  src/bot_v2/features/live_trade/strategies/perps_baseline_enhanced.py
  src/bot_v2/logging/__init__.py
  src/bot_v2/logging/setup.py
  src/bot_v2/validation/calculation_validator.py
  tests/unit/bot_v2/test_removed_aliases.py
Owners: none

Consolidate docs and restore test hygiene tooling
  docs/ARCHITECTURE.md
  docs/agents/Agents.md
  docs/agents/CLAUDE.md
  docs/agents/Gemini.md
  docs/agents/templates.md
  docs/guides/paper_trading.md
  docs/guides/testing.md
  scripts/ci/check_test_hygiene.py
  src/bot_v2/features/backtest/README.md
  src/bot_v2/features/paper_trade/README.md
  src/bot_v2/features/position_sizing/README.md
  tests/README.md
Owners: @GPT-Trader/qa-owners

Align Coinbase helper imports and live-trade renames
  scripts/monitoring/canary_monitor.py
  scripts/perps_dashboard.py
  src/bot_v2/features/brokerages/coinbase/adapter.py
  src/bot_v2/features/brokerages/coinbase/market_data_features.py
  src/bot_v2/features/brokerages/coinbase/models.py
  src/bot_v2/features/brokerages/coinbase/utilities.py
  src/bot_v2/features/brokerages/core/interfaces.py
  src/bot_v2/features/live_trade/advanced_execution.py
  src/bot_v2/features/paper_trade/dashboard.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/persistence/event_store.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_market_data_features.py
  tests/unit/bot_v2/features/live_trade/test_advanced_execution.py
  tests/unit/bot_v2/features/live_trade/test_liquidity_filters.py
Owners: @GPT-Trader/release-owners, @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners, @GPT-Trader/platform-owners

feat: Complete stale code cleanup and broker modernization
  README.md
  docs/CHANGELOG.md
  docs/DEVELOPMENT_GUIDELINES.md
  docs/QUICK_START.md
  docs/SYSTEM_ARCHITECTURE.md
  docs/guides/paper_trading.md
  docs/reference/trading_logic_perps.md
  pytest.ini
  scripts/ci/check_test_hygiene.py
  scripts/production_preflight.py
  scripts/validation/paper_mode_e2e.py
  scripts/validation/validate_perps_e2e.py
  src/bot_v2/cli.py
  src/bot_v2/features/brokerages/coinbase/market_data_utils.py
  src/bot_v2/features/brokerages/coinbase/utils.py
  src/bot_v2/features/live_trade/execution_v3.py
  src/bot_v2/features/live_trade/live_trade.py
  src/bot_v2/features/live_trade/strategies/perps_baseline_v2.py
  src/bot_v2/features/live_trade/strategies/week2_filters.py
  src/bot_v2/orchestration/deterministic_broker.py
  src/bot_v2/orchestration/mock_broker.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/persistence/orders_store.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_market_data_utils.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_order_validation.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_product_catalog.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_quantization_rules.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_specs_quantization.py
  tests/unit/bot_v2/features/live_trade/test_quantization_simple.py
  tests/unit/bot_v2/features/live_trade/test_week2_filters.py
  tests/unit/bot_v2/orchestration/test_bot_streaming.py
  tests/unit/bot_v2/orchestration/test_mock_broker.py
  tests/unit/bot_v2/orchestration/test_perps_bot.py
  tests/unit/bot_v2/test_broker_contract.py
  tests/unit/bot_v2/test_cli_behavioral.py
  tests/unit/coinbase/test_preflight_validation.py
  tests/unit/features/live_trade/test_execution_v3.py
Owners: @GPT-Trader/maintainers, @GPT-Trader/release-owners, @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners, @GPT-Trader/platform-owners

Consolidate redundant tests and add shared Coinbase helper
  scripts/ci/check_test_hygiene.py
  tests/unit/bot_v2/features/brokerages/coinbase/minimal_brokerage.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_account_endpoints.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_market_data_endpoints.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_pagination_and_errors.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_system_endpoints.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_trading_endpoints.py
  tests/unit/bot_v2/features/live_trade/test_risk_core.py
  tests/unit/bot_v2/features/live_trade/test_risk_runtime.py
  tests/unit/bot_v2/features/live_trade/test_slippage_guard.py
Owners: none

Consolidate Coinbase WS/auth tests and parameterize quantization
  scripts/ci/check_test_hygiene.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_auth_and_models.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_auth_mode_sync.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_auth_selection.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_auth.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_errors.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_models.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_websocket.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_specs_quantization.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_system_endpoints.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_websocket_streaming.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_ws_auth_adapter.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_ws_reconnect.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_ws_subscriptions.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_ws_user_channel.py
  tests/unit/bot_v2/features/live_trade/test_slippage_guard.py
Owners: none

Handle missing auth_type when building WS auth provider
  src/bot_v2/features/brokerages/coinbase/auth.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_auth.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_websocket.py
Owners: none

fix: Add missing dataclasses for position sizing and circuit breakers
  src/bot_v2/features/live_trade/risk.py
  src/bot_v2/features/live_trade/risk_runtime.py
Owners: @GPT-Trader/trading-owners

feat: Add complete orchestration layer with coordinators and services
  src/bot_v2/orchestration/account_telemetry.py
  src/bot_v2/orchestration/bootstrap.py
  src/bot_v2/orchestration/broker_factory.py
  src/bot_v2/orchestration/config_controller.py
  src/bot_v2/orchestration/configuration.py
  src/bot_v2/orchestration/deterministic_broker.py
  src/bot_v2/orchestration/execution_coordinator.py
  src/bot_v2/orchestration/live_execution.py
  src/bot_v2/orchestration/order_reconciler.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/orchestration/runtime_coordinator.py
  src/bot_v2/orchestration/spot_profile_service.py
  src/bot_v2/orchestration/storage.py
  src/bot_v2/orchestration/strategy_orchestrator.py
  src/bot_v2/orchestration/symbols.py
  src/bot_v2/orchestration/system_monitor.py
Owners: @GPT-Trader/orchestration-owners

test: Add comprehensive test utilities and new test suites
  tests/fixtures/behavioral/helpers.py
  tests/support/__init__.py
  tests/support/deterministic_broker.py
  tests/unit/bot_v2/cli_test_utils.py
  tests/unit/bot_v2/features/adaptive_portfolio/test_config_manager.py
  tests/unit/bot_v2/features/backtest/test_backtest.py
  tests/unit/bot_v2/features/backtest/test_shared_types_bridge_backtest.py
  tests/unit/bot_v2/features/brokerages/coinbase/permissions_test_utils.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_integration.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_coinbase_permissions.py
  tests/unit/bot_v2/features/brokerages/coinbase/websocket_test_utils.py
  tests/unit/bot_v2/features/live_trade/pnl_test_utils.py
  tests/unit/bot_v2/features/live_trade/test_coinbase_pnl.py
  tests/unit/bot_v2/features/live_trade/test_position_sizing_integration.py
  tests/unit/bot_v2/features/live_trade/test_shared_types_bridge_live.py
  tests/unit/bot_v2/features/paper_trade/test_shared_types_bridge_paper.py
  tests/unit/bot_v2/monitoring/domain/test_perps_liquidation.py
  tests/unit/bot_v2/monitoring/test_alert_channels.py
  tests/unit/bot_v2/monitoring/test_runtime_guards_base.py
  tests/unit/bot_v2/state/test_recovery_backup_smoke.py
  tests/unit/bot_v2/test_cli_core_functionality.py
  tests/unit/bot_v2/test_cli_execution_scenarios.py
  tests/unit/bot_v2/test_cli_validation_scenarios.py
  tests/unit/bot_v2/utilities/test_quantization.py
  tests/unit/bot_v2/validation/test_base_validator.py
  tests/unit/scripts/test_naming_inventory.py
Owners: none

docs: Add comprehensive development and operational documentation
  docs/agents/naming_inventory.md
  docs/agents/naming_inventory_tooling.md
  docs/agents/naming_standards_outline.md
  docs/guides/legacy_deployment_migration.md
  docs/monitoring/restructure_plan.md
  docs/testing/selective_test_runner.md
Owners: none

build: Add containerization and tooling scripts
  deploy/bot_v2/README.md
  deploy/bot_v2/docker/Dockerfile
  deploy/bot_v2/docker/docker-compose.yaml
  deploy/bot_v2/kubernetes/deployment.yaml
  deploy/bot_v2/kubernetes/service.yaml
  scripts/agents/__init__.py
  scripts/agents/naming_inventory.py
  scripts/analysis/dependency_map.py
  scripts/analysis/test_categorizer.py
  scripts/container_entrypoint.sh
  scripts/testing/selective_runner.py
Owners: @GPT-Trader/release-owners

config: Add development configs and archive legacy files
  config/archive/README.md
  config/profiles/dev_entry.yaml
  config/risk/dev_dynamic.json
  config/risk/spot_top10.json
  docs/archive/agents/ai_workflow_initiative.md
  docs/archive/agents/rename_plan.md
  docs/archive/agents/templates.md
  docs/archive/legacy-deployment/README.md
  docs/archive/legacy-deployment/docker/Dockerfile
  docs/archive/legacy-deployment/docker/README.md
  docs/archive/legacy-deployment/docker/docker-compose.yml
Owners: none

test: Rename adaptive portfolio config test to avoid pytest name collision
  tests/unit/bot_v2/features/adaptive_portfolio/test_adaptive_config_manager.py
Owners: none

docs: Remove SYSTEM_ARCHITECTURE.md stub (content in ARCHITECTURE.md)
  docs/SYSTEM_ARCHITECTURE.md
Owners: none

refactor: Modernize type hints to Python 3.10+ syntax
  src/bot_v2/features/data/cache.py
  src/bot_v2/features/data/quality.py
  src/bot_v2/features/data/storage.py
  src/bot_v2/features/data/types.py
  src/bot_v2/features/market_regime/market_regime.py
  src/bot_v2/features/ml_strategy/ml_strategy.py
  src/bot_v2/features/paper_trade/dashboard.py
  src/bot_v2/orchestration/execution_coordinator.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/orchestration/runtime_coordinator.py
  src/bot_v2/orchestration/strategy_orchestrator.py
  tests/fixtures/factories.py.bak
Owners: @GPT-Trader/orchestration-owners

refactor: Remove __main__ blocks from library modules
  docs/testing/behavioral_scenarios_demo.md
  src/bot_v2/__init__.py
  src/bot_v2/monitoring/alerts.py
  src/bot_v2/monitoring/runtime_guards.py
  src/bot_v2/orchestration/perps_bot.py
  src/bot_v2/security/security_validator.py
  src/bot_v2/validation/calculation_validator.py
  tmp_ws_root/perps_bot/canary/events.jsonl
Owners: @GPT-Trader/orchestration-owners

refactor(orchestration): Extract live_execution.py into focused execution submodules
  .gitignore
  src/bot_v2/orchestration/execution/__init__.py
  src/bot_v2/orchestration/execution/guards.py
  src/bot_v2/orchestration/execution/order_submission.py
  src/bot_v2/orchestration/execution/state_collection.py
  src/bot_v2/orchestration/execution/validation.py
  src/bot_v2/orchestration/live_execution.py
  tmp_ws_root/perps_bot/canary/events.jsonl
Owners: @GPT-Trader/maintainers, @GPT-Trader/orchestration-owners

fix: Remove unused imports and variables
  src/bot_v2/features/backtest/types.py
  src/bot_v2/features/live_trade/fees_engine.py
  src/bot_v2/features/strategy_tools/enhancements.py
Owners: @GPT-Trader/trading-owners

refactor(risk): Extract LiveRiskManager into focused submodules
  src/bot_v2/features/live_trade/risk.py
  src/bot_v2/features/live_trade/risk/__init__.py
  src/bot_v2/features/live_trade/risk/manager.py
  src/bot_v2/features/live_trade/risk/position_sizing.py
  src/bot_v2/features/live_trade/risk/pre_trade_checks.py
  src/bot_v2/features/live_trade/risk/runtime_monitoring.py
  src/bot_v2/features/live_trade/risk/state_management.py
Owners: @GPT-Trader/trading-owners

test: Consolidate and reorganize test suite structure
  scripts/ci/check_test_hygiene.py
  tests/unit/bot_v2/features/backtest/test_shared_types_bridge_backtest.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_exchange_specs.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_quantization_rules.py
  tests/unit/bot_v2/features/brokerages/coinbase/test_specs_quantization.py
  tests/unit/bot_v2/features/live_trade/test_quantization_integration.py
  tests/unit/bot_v2/features/live_trade/test_risk_runtime.py
  tests/unit/bot_v2/features/live_trade/test_shared_types_bridge_live.py
  tests/unit/bot_v2/features/paper_trade/test_shared_types_bridge_paper.py
  tests/unit/bot_v2/orchestration/test_live_execution.py
  tests/unit/bot_v2/orchestration/test_live_execution_perps.py
  tests/unit/bot_v2/orchestration/test_market_monitor_ws_reliability.py
  tests/unit/bot_v2/orchestration/test_perps_bot_integration.py
  tests/unit/bot_v2/orchestration/test_spot_profile_config.py
  tests/unit/bot_v2/test_broker_behavioral_contract.py
  tests/unit/bot_v2/test_cli_execution_scenarios.py
  tests/unit/bot_v2/test_cli_integration.py
  tests/unit/bot_v2/test_cli_unit.py
  tests/unit/bot_v2/test_cli_validation_scenarios.py
  tests/unit/bot_v2/test_data_provider.py
  tests/unit/bot_v2/test_order_reconciliation_on_startup.py
  tests/unit/scripts/test_naming_inventory.py
  tests/unit/test_volatility_circuit_breaker.py
Owners: none

style: Fix import sorting (ruff I001)
  src/bot_v2/features/brokerages/coinbase/specs.py
  src/bot_v2/features/live_trade/order_policy.py
  src/bot_v2/features/paper_trade/types.py
Owners: @GPT-Trader/trading-owners

style: Fix line-length violations in production-critical modules
  src/bot_v2/data_providers/coinbase_provider.py
  src/bot_v2/features/adaptive_portfolio/adaptive_portfolio.py
  src/bot_v2/features/adaptive_portfolio/risk_manager.py
  src/bot_v2/features/live_trade/__init__.py
  src/bot_v2/monitoring/runtime_guards.py
  src/bot_v2/orchestration/perps_bot.py
Owners: @GPT-Trader/trading-owners, @GPT-Trader/orchestration-owners

fix(mypy): Resolve type errors in orchestration configuration
  src/bot_v2/orchestration/configuration.py
  src/bot_v2/orchestration/symbols.py
Owners: @GPT-Trader/orchestration-owners

fix(mypy): Resolve type errors in broker_factory
  src/bot_v2/orchestration/broker_factory.py
Owners: @GPT-Trader/orchestration-owners

fix(mypy): Resolve 20 additional orchestration/ type errors
  src/bot_v2/orchestration/runtime_coordinator.py
  src/bot_v2/orchestration/spot_profile_service.py
  src/bot_v2/orchestration/strategy_orchestrator.py
  src/bot_v2/orchestration/system_monitor.py
Owners: @GPT-Trader/orchestration-owners

docs: Update ARCHITECTURE.md and DEVELOPMENT_GUIDELINES.md with recent refactorings
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT_GUIDELINES.md
Owners: none

test(security): Add comprehensive tests for SecretsManager and SecurityValidator
  scripts/ci/check_test_hygiene.py
  src/bot_v2/security/secrets_manager.py
  tests/unit/bot_v2/security/test_secrets_manager.py
  tests/unit/bot_v2/security/test_security_validator.py
Owners: none

test(persistence): Add comprehensive tests for ConfigStore and EventStore
  scripts/ci/check_test_hygiene.py
  tests/unit/bot_v2/persistence/test_config_store.py
  tests/unit/bot_v2/persistence/test_event_store.py
Owners: none

test(orchestration): Enhance BrokerFactory tests with comprehensive coverage
  scripts/ci/check_test_hygiene.py
  tests/unit/bot_v2/orchestration/test_broker_factory.py
Owners: none

refactor: Remove legacy live_trade facade layer
  docs/ARCHITECTURE.md
  docs/TRAINING_GUIDE.md
  scripts/analysis/test_categorizer.py
  src/bot_v2/features/live_trade/__init__.py
  src/bot_v2/features/live_trade/adapters.py
  src/bot_v2/features/live_trade/broker_connection.py
  src/bot_v2/features/live_trade/brokers.py
  src/bot_v2/features/live_trade/execution.py
  src/bot_v2/features/live_trade/live_trade.py
  tests/unit/bot_v2/features/live_trade/test_adapters.py
  tests/unit/bot_v2/features/live_trade/test_quantization_integration.py
  tests/unit/bot_v2/features/live_trade/test_type_consolidation.py
  tests/unit/bot_v2/orchestration/test_execution_coordinator.py
Owners: @GPT-Trader/trading-owners

docs: Update CHANGELOG with October 2025 cleanup details
  docs/CHANGELOG.md
Owners: none

refactor(state): Extract factory, repositories, and cache manager from StateManager
  src/bot_v2/state/cache_manager.py
  src/bot_v2/state/repositories.py
  src/bot_v2/state/state_manager.py
  src/bot_v2/state/storage_adapter_factory.py
  tests/unit/bot_v2/state/test_state_manager_logging.py
Owners: none

refactor(state): Extract TierPromotionPolicy for tier management decisions
  src/bot_v2/state/state_manager.py
  src/bot_v2/state/tier_promotion_policy.py
Owners: none

test(state): Add comprehensive unit tests for new components
  tests/unit/bot_v2/state/test_cache_manager.py
  tests/unit/bot_v2/state/test_tier_promotion_policy.py
Owners: none

.github/CODEOWNERS:

# GitHub uses the most specific match

# Core ownership
/src/bot_v2/features/brokerages/*   @GPT-Trader/brokerage-owners
/src/bot_v2/features/live_trade/*   @GPT-Trader/trading-owners
/src/bot_v2/orchestration/*         @GPT-Trader/orchestration-owners
/src/bot_v2/persistence/*           @GPT-Trader/platform-owners
/scripts/*                          @GPT-Trader/release-owners
/tests/*                            @GPT-Trader/qa-owners
/*                                  @GPT-Trader/maintainers
